.employee-card {
  background-color: grey;
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-family: "NunitoSans-regular", sans-serif;
}

.employee-card:hover {
  box-shadow: 0px -0.8px 6px rgba(143, 145, 144, 0.1),
  0px 6.4px 20px rgba(143, 145, 144, 0.2);
}

.employee-linkedin {
  cursor: pointer;
  margin-top: 5px;
}

.employee-pic {
  border-radius: 5px;
  margin-bottom: 5px;
}

.employee-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.employee-title {
  font-size: 16px;
  color: white;
}
