.tilte {
    font-size: 28px;
    font-family: 'NunitoSans-bold';
    margin-bottom: 15px;
    color: #EFF2F7;
}

.advan {
    width: 700px;
    font-size: 18px;
    font-family: 'NunitoSans-regular';
    margin-bottom: 30px;
    margin: auto;
    color: #EFF2F7;
}

.adv-bg {
    background-color: black;
    margin-bottom: 10px;
}