@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: #141414;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.header-bg {
	margin: 0;
	background: #141414;
	font-family: 'NunitoSans-bold',sans-serif;
  font-size: 17;
  height: 80px;
}

.content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

/* 控制汉堡icon */
.nav-toggle-label {
  position: absolute;
  top: 4px;
  right: 10px;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/* 汉堡三条线 */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 70%;
  left: 0px;
  /* background: var(--background); */
  background: #141414;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #a7a7ab;
  text-decoration: none;
  font-size: 17px;
  font-family:'NunitoSans-bold', sans-serif;
  /* text-transform: uppercase; */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #fff;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.headerLogo {
  margin-top: 27px;
}

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    /* display: flex; */
    grid-template-columns: 1fr 0 minmax(550px, 1fr) 2fr;
  }
  
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  nav ul { 
    display: flex;
  }
  
  nav li {
    margin-left: 2em;
    margin-bottom: 10px;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    /* height: 5px; */
    background: #f0f0f0;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}



.header-nav {
  /* margin-left: -100px; */
  margin-top: 20px;
}

@media screen and (min-width: 1000px) {
  .headerLogo {
    margin-left: 180px;
  }
} 


@media screen and (min-width: 768px) and (max-width:1000px) {
  .headerLogo {
    margin-left: 80px;
  }
} 


/* .headerLogo {
  margin-top: 29px;
  margin-left: 90px;
} */


/* .inner1 {
  background: gray;
  position: sticky;
  min-width: 1250px;
  z-index: 1000;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  top: 0;
  height: 180px;
}
 */
