.business-bg2 {
	margin-top: 60px;
	background-color: #fafafa;
	margin: auto;
}

.businessOutcome-intro {
	height: 850px;
	width: 1200px;
	margin: auto;
}

.businessOutcome-title1 {
	padding-top: 100px;
	font-size: 80px;
    font-family: 'SFProDisplay-Bold',sans-serif;
	text-align: center;
	margin: 0 10%;
	color: black;
}

.businessOutcome-title2 {
	margin-top: -10px !important;
	font-size: 60px;
    font-family: 'SFProDisplay-Bold',sans-serif;
	text-align: center;
	margin: 0 10%;
	color: black;
}

.businessOutcome-underline-img {
	margin-top: -110px;
	margin-left: -320px;
}

.business-bg {
	background-color: black;
}

