.businessOutcome-card {
	width: 1200px;
	margin: auto;
	margin-top: -100px;
}

.businessOutcome-card-bg {
	/* background-color: #141414; */
	width: 100%;
	margin-bottom: 100px;
}

.service-banner {
	background-color: white;
	padding-top: 70px;
	padding-bottom: 50px;
}

.service-layout-bg {
	margin-bottom: 50px;
}