.inner {
    width: 1200px;
    margin: auto;
}

.odd-row {
    text-align: left;
}

.even-row {
    text-align: left;
}

.solution-row {
    /* cursor: pointer; */
}

.solution-row:hover {
}

.forgerock-cert-logo {
    margin-top: 30px;
    margin-bottom: 120px;
    margin-left: 60px;
}

.fr-cert {
    margin-top: 40px;
    text-align: left;
}
.ping-cert-row {
    margin-top: 50px;
}

.cert-unit {
    width: 550px !important;
    text-align: left;;
}

.solution-row-title {
    font-family: 'NunitoSans-extraBold',sans-serif;
    font-size: 42px;
    line-height: 150%;
    color: black;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-right: 10px;
}
.solution-content-text {
    font-size: 19px;
    cursor: pointer;
}

.learn-more-extend {
    margin-top: 15px;
    color: rgb(18, 141, 218);
}

.solution-logo-gray-lane {
    height: 1px;
    width: 350px;
    background-color: rgb(206, 206, 206);
    margin-bottom: 20px;
}

.solution-ping-logo-gray-lane {
    height: 1px;
    width: 350px;
    background-color: rgb(206, 206, 206);
    margin-bottom: 20px;
    margin-top: 65px
}