.intro-bg {
    margin-top: 30px;
    background-color: black;
    height: 800px;
    /* margin-bottom: 10px; */
    background-image: url("../../../img/global-connection.jpeg");
    /* background-image: url(../); */
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 250px
}

.company-name-title {
    font-size: 56px;
    font-family: 'NunitoSans-bold',sans-serif;
    margin: auto;
    color: #000000;
    padding-top: 250px
}

.company-name-content1 {
    font-family: 'NunitoSans-semibold',sans-serif;
    font-size:18px;
    line-height: 150%;
    margin-bottom: 10px;
    color: #000000;
}

.company-name-content2 {
    font-family: 'NunitoSans-bold',sans-serif;
    font-size:18px;
    line-height: 150%;
    font-weight: 700px;
    color: #000000;
}

.gray-lane {
    height: 1px;
    background-color: #EFF2F7;
    width: 68%;
    margin: auto;
    margin-bottom: 20px;
}

.gray-lane-intro {
    height: 1px;
    background-color: #EFF2F7;
    width: 330px;
    margin: auto;
    margin-bottom: 20px;
}

.intro-text {
    width: 400px;
    text-align: center;
}

