.hsbc-bg {
    background-color: white;
    padding-top: 100px;
    color: black;
    margin: auto;
}

.case-hsbc-img {
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}

.case-hsbc-logo-img {
    margin-top: 50px;
}

.caseStudies-title {
    margin-top: 15px;
    font-size: 35px;
    /* font-family: 'NunitoSans-regular'; */
    font-family: 'SFProDisplay-semiBold';
    color: #000;
}

.caseStudies-title2 {
    font-size: 35px;
    /* font-family: 'NunitoSans-regular'; */
    font-family: 'SFProDisplay-semiBold';
    margin-bottom: 30px;
    color: #000;
}

.caseStudies-content {
    font-size: 20px;
    font-family: 'NunitoSans-regular';
    color: #434343;
}

.caseStudies-about-title {
    margin-top: 25px;
    padding-top: 30px;
    text-align: left;
    margin-left: 50px;
    font-size: 30px;
    /* font-family: 'NunitoSans-regular'; */
    font-family: 'SFProDisplay-semiBold';
    color: #000;
}

.caseStudies-about-content {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 20px;
    font-family: 'SFProDisplay-regular';
    color: #434343;
    width: 500px;
}

.gray-lane-case {
    height: 30px;
    width: 2px;
    background-color: #595959;
    /* width: 1200px; */
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.case-about-bg {
    background-color: #fafafa;
}

.caseStudies-data {
    margin-top: 80px;
    margin-left: 130px;
    font-family: 'SFProDisplay-semiBold';
    font-size: 20px;
}

.caseStudies-data2 {
    font-family: 'SFProDisplay-regular';
    margin-left: 130px;
    font-size: 20px;
}

.caseStudies-data3 {
    margin-top: 80px;
    margin-left: 180px;
    font-family: 'SFProDisplay-semiBold';
    font-size: 20px;
}

.caseStudies-data4 {
    font-family: 'SFProDisplay-regular';
    margin-left: 180px;
    font-size: 20px;
}

.case-authright-img {
    margin-top: 120px;
}

.case-result-bg {
    padding-bottom: 80px;
}