/* *,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-dark: rgb(13, 17, 19);
    --clr-light: #fff;
    --clr-accent: rgb(222, 52, 0);
    --clr-accent-dark: rgb(163, 38, 0);
    --clr-secondary: rgb(0, 76, 199);

    --br: .5em;

    --transition: transform 200ms cubic-bezier(.21, 1.00, .81, 1.00);
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: grid; 
    place-items: center;
    background: var(--clr-dark); 
    color: var(--clr-light);
}

.expCard-bg {
    background-color: grey;
    text-align: left;
    color: black;
    height: 1000px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
}

.name {
    font-weight: bold;
}

.streamers2 {
    display: flex;
    text-align: center;
}

.streamers2 img {
    border-radius: 50%;
}

.icon2 {
    width: 10em;
    height: 10em;
    position: relative;
    transition: transform ease-in-out 150ms;
}

.streamers2:hover .icon2 {
    transform: translateY(-20%);
}

.streamers2:hover .icon2::before {
    opacity: 1;
}

.streamers2 .icon2:hover {
    transform: translateY(-20%) scale(1.1);
}

.icon2::before,
.icon2::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
}

.icon2::before {
    opacity: 0;
    content: "\f04b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
    background: #f00;
    display: grid;
    place-items: center;
    z-index: 10;
    transition: 
        opacity 75ms linear, 
        background-color 100ms linear;
}    

.icon2:hover::before {
    background: #cc0202;
}

.icon2:hover::after {
    background: #f00;
    z-index: 1;
    animation: pulse 1250ms infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        opacity: .75;
    }
    100% {
        transform: scale(1.35);
        opacity: 0;
    }
} */