.services-bg {
    background-color: black;
    margin-bottom: 10px;
}

.service-digital-title {
    font-size: 70px;
    font-family: 'NunitoSans-bold',sans-serif;
    margin: auto;
    margin-bottom: 100px;
    color: #EFF2F7;
}

.angled-gradient {
    background: linear-gradient(70deg, blue, pink);
}

.service-Digital-bg {
    background-image: linear-gradient(to bottom right , #30cfd0, #330867);
}

.service-img {
    margin-top: 12px;
    width: 85px;
}

.service-IAM-bg {
    background-image: linear-gradient(to top left , #f43b47, #453a94);
    padding-top: 70px;
    padding-bottom: 100px;
}

.service-content2 {
    width: 100%;
    font-family: 'NunitoSans-bold',sans-serif;
    font-size:18px;
    line-height: 150%;
    margin-bottom: 10px;
    color: #EFF2F7;
    margin: auto;
}