.history-bg {
    background-color: #fcffe6;
    height: 372px;
    margin-bottom: 10px;
}

.history-year {
    font-size: 50px;
    font-family: 'NunitoSans-bold',sans-serif;
    margin: auto;
    color: #141414;
}


.history-content {
    font-size: 18px;
    font-family: 'NunitoSans-bold',sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: #141414;
}

.history-content2 {
    font-size: 20px;
    font-family: 'NunitoSans-bold',sans-serif;
    color: #141414;
}

.underline-img {
    margin-top: -40px;
}
