.certification-bg {
  height: 1100px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certification-title {
  padding: 50px 0px 50px 0px;
  font-size: 40px;
  font-family: "NunitoSans-bold", sans-serif;
  color: black;
}

.certification-cards {
  width: 1200px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
