.certCard-container {
  width: 540px;
  height: 400px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 8px 18px 6px rgba(65, 75, 88, 0.3)
}

.certCard-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

.certCard-title {
  font-size: 34px;
  font-family: "NunitoSans-bold", sans-serif;
  padding-bottom: 5px;
  margin: 15px 0 0 0;
}

.certCard-certName {
  font-size: 16px;
  font-family: "NunitoSans-regular", sans-serif;
}

.certCard-img {
  width: 85px;
}

.certCard-divider {
  width: 150px;
}

.certCard-subList {
  display: flex;
  justify-content: space-evenly;
}
