.expandCard-grid {
    padding-top: 100px;
}

.about-leadership {
    margin-top: -200px;
    /* background-color: #434343; */
    background-color: #000;
}

.about-certification{
    margin-top: 60px;
}

.about-layout-bg {
    margin-top: -60px;
}
