.about-intro-bg {
  margin-top: 60px;
  margin-bottom: 40px;
}

.career-company-title {
  padding-top: 40px;
  font-size: 40px;
  font-family: "NunitoSans-bold", sans-serif;
  margin: auto;
  color: #000;
}

.career-company-title {
  padding-top: 70px;
  font-size: 40px;
  font-family: "NunitoSans-bold", sans-serif;
  margin: auto;
  color: #000;
}

.career-company-title2 {
  font-size: 40px;
  font-family: "NunitoSans-bold", sans-serif;
  margin: auto;
  /* color: white; */
}

.about-company-title2 {
  padding-top: 140px;
  font-size: 40px;
  font-family: "NunitoSans-bold", sans-serif;
  margin: auto;
  /* color: white; */
}

.about-values-title {
  padding-top: 65px;
  padding-bottom: 45px;
  font-size: 40px;
  font-family: "NunitoSans-bold", sans-serif;
  margin: auto;
  color: white;
}

.about-intro-block {
  height: 400px;
  background-color: white;
}

.about-mission-subtitle {
  font-family: "NunitoSans-bold", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.about-intro-block2 {
  height: 400px;
  color: black;
  background-color: #ffffff;
  height: 500px;   
}

.about-intro-block3 {
  height: 500px;
  background-color: #000;
  padding-bottom: 20px;
}

.career-company-intro {
  padding-top: 20px;
  font-size: 20px;
  width: 700px;
  font-family: "NunitoSans-regular", sans-serif;
  margin: auto;
  color: black;
}

.about-values {
  font-size: 20px;
  width: 900px;
  font-family: "NunitoSans-regular", sans-serif;
  margin: auto;
  color: white;
}

.career-company-content1 {
  font-family: "NunitoSans-bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  padding-top: 50px;
  /* margin-bottom: 10px; */
  color: #000;
}

.career-company-content2 {
  font-family: "NunitoSans-bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}

.gray-lane {
  height: 1px;
  background-color: #eff2f7;
  width: 68%;
  margin: auto;
  margin-bottom: 20px;
}

.about-img1 {
  padding-bottom: 100px;
}

.about-color-block {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 70px;
  margin-left: 120px;
  border-radius: 5%;
  height: 360px;
  width: 260px;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

.about-black-block {
  margin: auto;
  background-color: #fff;
  height: 350px;
  width: 250px;
  border-radius: 5%;
  color: #000;
}

.about-color-block-title {
  text-align: left;
  padding-top: 70px;
  margin-left: 20px;
  margin-bottom: -10px;
  font-family: "SFProDisplay-Bold", sans-serif;
  padding-bottom: -5px;
  font-style: normal;
  font-size: clamp(1.8rem, calc(1.8rem + 0.2vw), 3rem);
  font-weight: 800;
  /* color: #fff; */
}

.about-color-block-title2 {
  margin-bottom: -12px;
  text-align: left;
  margin-left: 17px;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-style: normal;
  font-size: clamp(1.8rem, calc(1.8rem + 0.2vw), 3rem);
  font-weight: 800;
  /* color: #fff; */
}

.about-color-block-title3 {
  text-align: left;
  margin-left: 20px;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-style: normal;
  font-size: clamp(1.8rem, calc(1.8rem + 0.2vw), 3rem);
  font-weight: 800;
  /* color: #fff; */
}

.about-color-block-served {
  padding-top: 20px;
  text-align: left;
  margin-left: 20px;
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: clamp(12px, calc(0.8rem + 0.25vw), 20px);
  font-weight: 300;
  line-height: 1.7;
  color: #434343;
}

.about-color-block-served2 {
  text-align: left;
  margin-left: 20px;
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: clamp(12px, calc(0.8rem + 0.25vw), 20px);
  font-weight: 300;
  line-height: 1.7;
  color: #000;
}

.about-whoWeAre-title1 {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: "SFProDisplay-Semibold", sans-serif;
  width: 700px;
  margin: auto;
  color: #000;
  font-size: 40px;
}

.about-whoWeAre-title2 {
  font-family: "SFProDisplay-Semibold", sans-serif;
  color: #000;
  font-size: 70px;
}

.about-whoWeAre-content {
  padding-top: 20px;
  font-size: 22px;
  width: 790px;
  font-family: "NunitoSans-regular", sans-serif;
  margin: auto;
  color: black;
}

.value-description {
  text-align: center;
  width: 850px;
  margin-top: 20px;
  color: rgb(108, 227, 227);
}

.selected-value {
  fill: rgb(108, 227, 227) !important;
  color: rgb(108, 227, 227);
  font-family: "NunitoSans-bold", sans-serif;
}

.unselected-value {
  fill: white;
  color: white;
}

.value-img {
  width: 80px;
  margin: auto;
}

.value-area {
  width: 135px;
  height: 135px;
  padding-top: 26px;
  margin: auto;
}
.value-halo {
  background: radial-gradient(
    closest-side circle,
    rgba(255, 255, 255, 0.509),
    black
  );
}


.value-preview {
  padding: auto;
  margin-bottom: 40px;
}

.about-color-block-served2-t1 {
  color: #1890ff;
}

.about-color-block-served2-t2 {
  color: #f5222d;
}